.content { 
    overflow:scroll;
    height:450px;
}

.legend{
    margin: 0 0 10px 0;
}

.legend .title {
    display: inline;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}