{
    "pivotalTracker":{
        "apiToken":"PivotalTracker API Key here"
    }, "teamcity":{
        "username":"",
        "password":""
    }, "github":{		
		"access_token": "",
		"username": "",
		"password": ""
	}
}
