.item-container {
    font-size: 28px;
}

.stat {
    color: green;
    width: 75%;
    display: inline-block;
    float: left;
    padding-bottom: 18px;
}
.counter {
    font-weight: bold;
    color: #3F80C2;
    width: 18%;
    float: right;
    display: inline-block;
}

