#main-container #widgets-container h2{
	font-size: 24px;
}

.item-container {
    font-size: 28px;
}

.current-velocity{
	font-size: 48px;
	color: #326793;
}
.current-velocity-diff{
	float: left;
	width: 30%;
}
.current-velocity-text{
	font-size: 20px;
    float: left;
    width: 80%;
}