.item-container {
    font-size: 40px;
}

table {
    font-size: 30px;
}
tr {
    border-bottom: 1px solid #000;
}

tbody tr:nth-child(even) {
  background: #dadada;
}

tbody tr td:last-child {
    text-align: center;
}
