.item-container {
    font-size: 28px;
}

.stat {
    color: #000;
    width: 60%;
    display: inline-block;
    float: left;
    padding-bottom: 18px;
}
.counter {
    font-weight: bold;
    color: #326793;
    width: 30%;
    float: right;
    display: inline-block;
}

