.content {
	font-size: 28px;
}
.section {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.section .left {
	display: table-cell;
	width: 300px;
	vertical-align: top;
}

.section .right {
	display: table-cell;
	vertical-align: top;
	text-align: right;
}

.section .right img {
	padding-bottom: 20px;
}

.coveragePercent {
	font-size: 28px;
}

.coverageHeader {
	font-size: 25px;
}

.coverageNeutral {
	font-size: 28px;
    color:#808080;
}

.coverageDown {
	font-size: 28px;
    color:#d94938;
}

.coverageUp {
	font-size: 28px;
    color:#367229;
}