.content {
    font-size: 26px;
    overflow:auto;
    height:400px;
}

.stat {
    display: inline-block;
    padding-bottom: 18px;
    font-style: italic;
}
.counter {
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
}
table {
    font-size: 26px;
}
tr {
    border-bottom: 1px solid #000;
}
tbody tr:nth-child(even) {
  background: #dadada;
}
tbody tr td:first-child, thead tr td:first-child {
    text-align: left;
}
tbody tr td, thead tr td {
    text-align: center;
}
